In [1]:
import xlrd
import wget
import re
import pandas as pd

In [2]:
url = 'https://www.oecd.org/pisa/data/2015database/Codebook_CMB.xlsx'
loc = 'data/Codebook_CMB.xlsx'

In [3]:
wb = []

try:
    wb = xlrd.open_workbook(loc)
except e:
    wget.download(url, loc)

sheet = wb.sheet_by_name('Cognitive')

In [4]:
values = [sheet.row_values(i) for i in range(sheet.nrows) if sheet.cell_value(i,0) != '']

In [5]:
df = pd.DataFrame(values[22:-1],columns=values[0])
df

,NAME,VARLABEL,TYPE,FORMAT,VARNUM,MINMAX,VAL,LABEL,COUNT,PERCENT
0,DR219Q01AC,Employment - Q01A (Coded Response),NUM,1.0,22,0 - 1,,,,
1,DR219Q01BC,Employment - Q01B (Coded Response),NUM,1.0,23,0 - 1,,,,
2,DR219Q01CC,Employment - Q01C (Coded Response),NUM,1.0,24,0 - 1,,,,
3,DR219Q01DC,Employment - Q01D (Coded Response),NUM,1.0,25,0 - 1,,,,
4,DR219Q01EC,Employment - Q01E (Coded Response),NUM,1.0,26,0 - 1,,,,
...,...,...,...,...,...,...,...,...,...,...
2021,CS626Q03T,Sounds in Marine Habitats - Q03 (Timing),NUM,8.0,2043,206 - 3137371,,,,
2022,CS626Q03A,Sounds in Marine Habitats - Q03 (Number of Act...,NUM,4.0,2044,0 - 6201,,,,
2023,DS626Q04C,Sounds in Marine Habitats - Q04 (Coded Response),NUM,1.0,2045,0 - 1,,,,
2024,CS626Q04T,Sounds in Marine Habitats - Q04 (Timing),NUM,8.0,2046,328 - 12101744,,,,
2025,CS626Q04A,Sounds in Marine Habitats - Q04 (Number of Act...,NUM,4.0,2047,1 - 7623,,,,

In [6]:
df[['MIN','MAX']] = df['MINMAX'].str.split("-",expand=True)
df[['TYPE']] = df['VARLABEL'].str.extract('.*\((.*)\).*')
df

,NAME,VARLABEL,TYPE,FORMAT,VARNUM,MINMAX,VAL,LABEL,COUNT,PERCENT,MIN,MAX
0,DR219Q01AC,Employment - Q01A (Coded Response),Coded Response,1.0,22,0 - 1,,,,,0,1
1,DR219Q01BC,Employment - Q01B (Coded Response),Coded Response,1.0,23,0 - 1,,,,,0,1
2,DR219Q01CC,Employment - Q01C (Coded Response),Coded Response,1.0,24,0 - 1,,,,,0,1
3,DR219Q01DC,Employment - Q01D (Coded Response),Coded Response,1.0,25,0 - 1,,,,,0,1
4,DR219Q01EC,Employment - Q01E (Coded Response),Coded Response,1.0,26,0 - 1,,,,,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2021,CS626Q03T,Sounds in Marine Habitats - Q03 (Timing),Timing,8.0,2043,206 - 3137371,,,,,206,3137371
2022,CS626Q03A,Sounds in Marine Habitats - Q03 (Number of Act...,Number of Actions,4.0,2044,0 - 6201,,,,,0,6201
2023,DS626Q04C,Sounds in Marine Habitats - Q04 (Coded Response),Coded Response,1.0,2045,0 - 1,,,,,0,1
2024,CS626Q04T,Sounds in Marine Habitats - Q04 (Timing),Timing,8.0,2046,328 - 12101744,,,,,328,12101744
2025,CS626Q04A,Sounds in Marine Habitats - Q04 (Number of Act...,Number of Actions,4.0,2047,1 - 7623,,,,,1,7623

In [7]:
df.iloc[df['TYPE'].drop_duplicates().index][['NAME','TYPE']]

            NAME                     TYPE
0     DR219Q01AC           Coded Response
6      CR219Q01T                   Timing
7      CR219Q01A        Number of Actions
11     DR067Q01R             Raw Response
12     CR067Q01S          Scored Response
399     R219Q01A     Coded Paper Response
404    PR219Q01S    Paper Scored Response
406      R067Q01       Raw Paper Response
1613   CS635Q04W         All Rows Correct
1614   CS635Q04N           Number of Rows
1615   CS635Q04P  Number of Selected Rows
1616   CS635Q04Q         Number of Trials

In [9]:
df[:50]

,NAME,VARLABEL,TYPE,FORMAT,VARNUM,MINMAX,VAL,LABEL,COUNT,PERCENT,MIN,MAX
0,DR219Q01AC,Employment - Q01A (Coded Response),Coded Response,1.0,22,0 - 1,,,,,0,1
1,DR219Q01BC,Employment - Q01B (Coded Response),Coded Response,1.0,23,0 - 1,,,,,0,1
2,DR219Q01CC,Employment - Q01C (Coded Response),Coded Response,1.0,24,0 - 1,,,,,0,1
3,DR219Q01DC,Employment - Q01D (Coded Response),Coded Response,1.0,25,0 - 1,,,,,0,1
4,DR219Q01EC,Employment - Q01E (Coded Response),Coded Response,1.0,26,0 - 1,,,,,0,1
5,DR219Q01C,Employment - Q01 (Coded Response),Coded Response,1.0,27,0 - 1,,,,,0,1
6,CR219Q01T,Employment - Q01 (Timing),Timing,8.0,28,418 - 3486357,,,,,418,3486357
7,CR219Q01A,Employment - Q01 (Number of Actions),Number of Actions,4.0,29,0 - 5783,,,,,0,5783
8,DR219Q02C,Employment - Q02 (Coded Response),Coded Response,1.0,30,0 - 1,,,,,0,1
9,CR219Q02T,Employment - Q02 (Timing),Timing,8.0,31,1468 - 22446166,,,,,1468,22446166
10,CR219Q02A,Employment - Q02 (Number of Actions),Number of Actions,4.0,32,1 - 3897,,,,,1,3897
11,DR067Q01R,Aesop - Q01 (Raw Response),Raw Response,2.0,33,1 - 4,,,,,1,4
12,CR067Q01S,Aesop - Q01 (Scored Response),Scored Response,1.0,34,0 - 1,,,,,0,1
13,CR067Q01T,Aesop - Q01 (Timing),Timing,8.0,35,374 - 3191001,,,,,374,3191001
14,CR067Q01A,Aesop - Q01 (Number of Actions),Number of Actions,4.0,36,0 - 3241,,,,,0,3241
15,DR067Q04C,Aesop - Q04 (Coded Response),Coded Response,1.0,37,0 - 2,,,,,0,2
16,CR067Q04T,Aesop - Q04 (Timing),Timing,8.0,38,201 - 3273606,,,,,201,3273606
17,CR067Q04A,Aesop - Q04 (Number of Actions),Number of Actions,4.0,39,0 - 5133,,,,,0,5133
18,DR067Q05C,Aesop - Q05 (Coded Response),Coded Response,1.0,40,0 - 2,,,,,0,2
19,CR067Q05T,Aesop - Q05 (Timing),Timing,8.0,41,1241 - 3374939,,,,,1241,3374939
20,CR067Q05A,Aesop - Q05 (Number of Actions),Number of Actions,4.0,42,1 - 2902,,,,,1,2902
21,DR102Q04C,Shirts - Q04 (Coded Response),Coded Response,1.0,43,0 - 1,,,,,0,1
22,CR102Q04T,Shirts - Q04 (Timing),Timing,8.0,44,229 - 10373359,,,,,229,10373359
23,CR102Q04A,Shirts - Q04 (Number of Actions),Number of Actions,4.0,45,0 - 3119,,,,,0,3119
24,DR102Q05C,Shirts - Q05 (Coded Response),Coded Response,1.0,46,0 - 1,,,,,0,1
25,CR102Q05T,Shirts - Q05 (Timing),Timing,8.0,47,208 - 2318626,,,,,208,2318626
26,CR102Q05A,Shirts - Q05 (Number of Actions),Number of Actions,4.0,48,0 - 3150,,,,,0,3150
27,DR102Q07R,Shirts - Q07 (Raw Response),Raw Response,2.0,49,1 - 4,,,,,1,4
28,CR102Q07S,Shirts - Q07 (Scored Response),Scored Response,1.0,50,0 - 1,,,,,0,1
29,CR102Q07T,Shirts - Q07 (Timing),Timing,8.0,51,1298 - 2834039,,,,,1298,2834039
30,CR102Q07A,Shirts - Q07 (Number of Actions),Number of Actions,4.0,52,1 - 1400,,,,,1,1400
31,CR220Q01S,South Pole - Q01 (Scored Response),Scored Response,1.0,53,0 - 1,,,,,0,1
32,CR220Q01T,South Pole - Q01 (Timing),Timing,8.0,54,304 - 2038592,,,,,304,2038592
33,CR220Q01A,South Pole - Q01 (Number of Actions),Number of Actions,4.0,55,0 - 5567,,,,,0,5567
34,DR220Q02RB,South Pole - Q02B (Raw Response),Raw Response,2.0,56,1 - 4,,,,,1,4
35,CR220Q02S,South Pole - Q02 (Scored Response),Scored Response,1.0,57,0 - 1,,,,,0,1
36,CR220Q02T,South Pole - Q02 (Timing),Timing,8.0,58,190 - 1446857,,,,,190,1446857
37,CR220Q02A,South Pole - Q02 (Number of Actions),Number of Actions,4.0,59,1 - 7555,,,,,1,7555
38,DR220Q04R,South Pole - Q04 (Raw Response),Raw Response,2.0,60,1 - 4,,,,,1,4
39,CR220Q04S,South Pole - Q04 (Scored Response),Scored Response,1.0,61,0 - 1,,,,,0,1
40,CR220Q04T,South Pole - Q04 (Timing),Timing,8.0,62,205 - 1439025,,,,,205,1439025
41,CR220Q04A,South Pole - Q04 (Number of Actions),Number of Actions,4.0,63,0 - 1114,,,,,0,1114
42,DR220Q05R,South Pole - Q05 (Raw Response),Raw Response,2.0,64,1 - 4,,,,,1,4
43,CR220Q05S,South Pole - Q05 (Scored Response),Scored Response,1.0,65,0 - 1,,,,,0,1
44,CR220Q05T,South Pole - Q05 (Timing),Timing,8.0,66,189 - 2164350,,,,,189,2164350
45,CR220Q05A,South Pole - Q05 (Number of Actions),Number of Actions,4.0,67,0 - 2849,,,,,0,2849
46,DR220Q06R,South Pole - Q06 (Raw Response),Raw Response,2.0,68,1 - 4,,,,,1,4
47,CR220Q06S,South Pole - Q06 (Scored Response),Scored Response,1.0,69,0 - 1,,,,,0,1
48,CR220Q06T,South Pole - Q06 (Timing),Timing,8.0,70,1191 - 3799138,,,,,1191,3799138
49,CR220Q06A,South Pole - Q06 (Number of Actions),Number of Actions,4.0,71,1 - 1493,,,,,1,1493